:root {
  --app-max-width: 0;
  --app-visibility: hidden;
}

html {
  font-size: var(--base-font-size);
  color: var(--color-fg)
}

.app,
.app_footer {
  width: 100%;
  height: 100vh; /* 使用视口高度来实现全屏效果 */
  background-color: #e9967a;
  padding: 100;
}

/* @media only screen and (min-width: 820px) {
  .app {
    margin-top: var(--spacer);
    margin-bottom: var(--spacer);
  }
} */

/* .app_header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin-bottom: calc(var(--spacer) * 1);
  margin-left: var(--spacer);
  margin-right: var(--spacer);
} */

.app_title {
  text-align: center; /* 水平居中 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-weight: 900;
  flex: 1;
  position: center;
}


.app_content {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
  position: relative;
  transform: translateZ(0);
}

.app_footer,
.app_footer a {
  margin-top: 4vh;
  text-align: center;
  color: var(--color-dark-grey);
  background: transparent;
}
